<?php require_once "../view/partials/_header.php"; ?>
<main>

    <form method="POST" action="">
        <label for="shippingAddress">Veuillez remplir votre adresse de livraison :</label>
        <input type="text" id="shippingAddress" name="shippingAddress" required>

        <button type="submit">Valider</button>
    </form>

    <p>Merci de votre confiance {{ order.getCustomerName() }}</p>

    <p>Commande numéro : {{ order.getId() }}</p>
    <h2>{{ message }}</h2>
    <p>Adresse : {{ order.getAddress() }}</p>

    <p>Le coût total de votre commande est de :
        {{ order.totalPrice() }} euros.</p>

    <p>Vous avez effectué la commande le {{ order.dateTime() }} à
        {{ order.hourTime() }}</p>
</main>
<?php require_once "../view/partials/_footer.php"; ?>

